<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleExclui.css">
    <title>Excluir Conta</title>
</head>

<body>
    <div class="container">
        <h1>Excluir Conta</h1>
        <p>Ao clicar em excluir, você estará permanentemente excluindo a sua conta do Tinfood.
        Não há possibilidade de recuperar a conta, portanto, tenha certeza do que você deseja.
        Você perderá todos os seus matches e ações realizadas nesse perfil.</p>
        <p class="last">Se, mesmo assim, você deseja continuar, clique em "Excluir".</p>
        <div id="mostrarBotao"></div>
    </div>
    <script src="/script/scriptExclui.js"></script>
</body>

</html>