<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleUp.css">
    <title>Foto de Perfil</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
    </style>
</head>
<body>
  <div class="container">
    <h2>Adicione uma foto de perfil</h2>
    <form method="POST" action="/upload" enctype="multipart/form-data">
    <img src="" class="foto" id="image-selected"/>    
    <input type="file" name="file" id="input-file"/>
    <button type="submit" href="/downloadArquivo">Adicionar</button> 
  </form>
  </div>
  <script src="/script/scriptUpload.js"></script>
</body>
</html>