<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/styleDow.css" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
	<title>Matches</title>
</head>
<body>
	<div class="container">
		<div class="side">
			<div class="header" id="listaUser"></div>
			<div class="menu">
				<ul>
					<li>Matches</li>
					<li class="active">Mensagens</li>
				</ul>
			</div>
			<div class="messages">
				<div class="avatar">
					<img src="imagens/gatoo.avif" alt="" />
				</div>
				<div class="message">
					<div class="user">Bruno</div>
					<div class="text">sou lindo</div>
				</div>
			</div>
			<div class="messages">
				<div class="avatar">
					<img src="imagens/marcos.jpg" alt="" />
				</div>
				<div class="message">
					<div class="user">Marcos</div>
					<div class="text">*oculos*</div>
				</div>
			</div>
			<div class="messages">
				<div class="avatar">
					<img src="imagens/luna.png" alt="" />
				</div>
				<div class="message">
					<div class="user">Marina</div>
					<div class="text">óculos 2</div>
				</div>
			</div>
			<div class="messages">
				<div class="avatar">
					<img src="imagens/gabriel.jpg" alt="" />
				</div>
				<div class="message">
					<div class="user">Eduardo</div>
					<div class="text">bigode e suspensório</div>
				</div>
			</div>
			<div class="messages">
				<div class="avatar">
					<img src="imagens/bruna.jpg" alt="" />
				</div>
				<div class="message">
					<div class="user">Luid</div>
					<div class="text">Baita</div>
				</div>
			</div>
		</div>
		<div id="listarUsers"></div>
	</div>
	<script src="/script/scriptMatch.js"></script>
</body>

</html>

<a href="/deletar"></a>