<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matche</title>
</head>
<body>
    <button type="button" class="botao-gostei" id="botao-gostei" onClick="clickTeclado(this.value);" value="gostei">Gostei</button>
    <button type="button" class="botao-nao-gostei" id="botao-nao-gostei" onClick="clickTeclado(this.value);" value="nao gostei">Não gostei</button>

    <script src="/script/scriptCat.js"></script>
</body>
</html>